<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d91bdc17-b543-46e8-9d09-3ad709651af5" Publisher="CN=hippi_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SnooStream.Windows</DisplayName>
    <PublisherDisplayName>hippi_000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SnooStream.Windows.App">
      <m2:VisualElements DisplayName="SnooStream.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SnooStream.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SnooDomBackground.UpdateBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
            <m2:Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>