<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="2.8.0.8" targetFramework="wp80" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="wp80" />
  <package id="KitaroDB" version="2.1.0.10" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="wp80" />
  <package id="NokiaImagingSDK" version="1.2.99" targetFramework="wp80" />
  <package id="Portable.MvvmLightLibs" version="4.3.31.2" targetFramework="wp80" />
</packages>